<div align="right">
  <a href="/"><input type="submit" value="Home"></a>
</div>

<div align="right">
  <a href="/logout"><input type="submit" value="Logout"></a>
</div>

<div>
  <center>
    <h1> Welcome, <%= @user.username %> </h1>
    <p>Your Logbooks<br>
    <% @user.logbooks.each do |logbook| %>
      <ul>
        <li><a href="/logbooks/<%= logbook.id%>"><%= logbook.name %></a></li>
      </ul>
    <% end %><br><br>
    <a href="/logbooks/new"><input type="submit" value="Create New Logbook"></a>
  </center>
<div>