<div align="right">
  <a href="/"><input type="submit" value="Home"></a>
</div>

<div>
  <center>
    <h1> User Profile </h1>
    <p>Welcome, <%= @user.fullname %>
    <% @user.logbooks.each do |logbook| %>
      <ul>
        <li><a href="/logbooks/<%= logbook.id%>"><%= logbook.name %></a></li>
      </ul>
    <% end %>
  </center>
<div>