<div align="right">
  <a href="/"><input type="submit" value="Home"></a>
</div>

<div>
  <center>
    <h1> Sign Up </h1>
    <form method="POST" action="/signup"
      <p>Full Name: <input type="text" name="fullname"></p>
      <p>Username: <input type="text" name="username"></p>
      <p>Password: <input type="text" name="password"></p>
      <input class="btn btn-primary" type="submit">
    </form>
  </center>
</div>