<h1>Edit <%= @logbook.name %></h1>

<form action="/logbooks/<%=@logbook.id %>" method="POST">
  <label> Logbook Name </label>
  <input type="text" name="name" value="<%=@logbook.name %>"> </br>

  <label> Maximum Number of Entries </label>
  <input type="number" name="max_entries" value="<%=@logbook.capacity %>"> </br>

  <input type="submit" value="Update">
</form>