<div align="right">
  <a href="/"><input type="submit" value="Home"></a>
</div>

<div align="right">
  <a href="/logout"><input type="submit" value="Logout"></a>
</div>

<center>
  <h1>Your Logbooks</h1>

  <a href="/logbooks/new"><input type="submit" value="Create New Logbook"></a>

  <div>
    <% counter = 0 %>
    <% @logbooks.each do |logbook| %><br>
      <h3><%= counter += 1 %></h3>
      Name: <%= logbook.name %><br>
      Max Entries: <%= logbook.max_entries %><br>
      <a href="/logbooks/<%=logbook.id%>/edit"><input type="submit" value="Edit"></a>
      <a href="/notfound"><input type="submit" value="View"></a>
      <br>
    <% end %>
  </div>
</center>