<div align="right">
  <a href="/"><input type="submit" value="Home"></a>
</div>

<center>
  <h1>Your Logbooks</h1>

  <a href="/logbooks/new">Create New Logbook</a>

  <div>
      <% @logbooks.each do |logbook| %><br>
        Name: <%= logbook.name %><br>
        Max Entries: <%= logbook.max_entries %><br>
        <a href="/logbooks/<%=logbook.id%>/edit">Edit</a>
        <br>
        <% end %>
  </div>
</center>