<div align="right">
  <a href="/"><input type="submit" value="Home"></a>
</div>

<h1>Add a New Logbook</h1>

<form action="/logbooks" method="POST">
  <label> Logbook Name </label>
  <input type="text" name="name"> </br>

  <label> Maximum Number of Entries </label>
  <input type="number" name="max_entries"> </br>

  <input type="submit" value="Create">
</form>