<div align="right">
  <a href="/"><input type="submit" value="Home"></a>
</div>

<center>
  <h1>You have entered an incorrect username or password</h1>
  <h3>If you do not have an account, please sign up below</h3>
  <a href="/signup"><input type="submit" value="Sign Up"></a>
</center>