<div align="right">
  <a href="/"><input type="submit" value="Home"></a>
</div>

<div align="right">
  <a href="/logout"><input type="submit" value="Logout"></a>
</div>

<center>
  <h1>Oops!</h1>
  <h3>It appears you don't have permission to perform this action.</h3>
</center>