<div align="right">
  <a href="/"><input type="submit" value="Home"></a>
</div>

<div align="right">
  <a href="/logout"><input type="submit" value="Logout"></a>
</div>

<center>
  <h1>Edit <%= @logbook.name %></h1>

  <form action="/logbooks/<%=@logbook.id%>" method="POST">
    <input type="hidden" name="_method" value="PATCH">

    <label> Date </label>
    <input type="date" name="date" value="<%=@log.date %>"> </br>

    <label> Pilot in Command </label>
    <input type="text" name="pilot_in_command" value="<%=@log.pilot_in_command %>"> </br>

    <input type="submit" value="Update">
  </form>
</center>