<div align="right">
  <a href="/"><input type="submit" value="Home"></a>
</div>

<div align="right">
  <a href="/logout"><input type="submit" value="Logout"></a>
</div>

<center>
  <h1>Add a New Log</h1>

  <form action="/logs" method="POST">
    <label> Date </label>
    <input type="date" name="date"> </br>

    <label> Pilot in Command </label>
    <input type="text" name="pilot_in_command"> </br>

    <label> Aircraft Type </label>
    <input type="text" name="aircraft_type"> </br>
    
    <label> Aircraft Rego </label>
    <input type="text" name="aircraft_rego"> </br>

    <label> Origin </label>
    <input type="text" name="origin"> </br>

    <label> Destination </label>
    <input type="text" name="destination"> </br>

    <label> Number of Landings </label>
    <input type="number" name="landings"> </br>

    <label> Remarks </label>
    <input type="text" name="remarks"> </br>

    <input type="submit" value="Create">
  </form>
</center>