<div align="right">
  <a href="/"><input type="submit" value="Home"></a>
</div>

<div align="right">
  <a href="/logout"><input type="submit" value="Logout"></a>
</div>

<center>
  <h1>Add a New Log</h1>

  <form action="/logs" method="POST">
    <label> Date </label>
    <input type="date" name="log[date]"> </br>

    <label> Pilot in Command </label>
    <input type="text" name="log[pilot_in_command" value="<%= current_user.fullname %>"> </br>

    <label> Aircraft Type </label>
    <input type="text" name="log[aircraft_type"> </br>
    
    <label> Aircraft Rego </label>
    <input type="text" name="log[aircraft_rego]"> </br>

    <label> Origin </label>
    <input type="text" name="log[origin]"> </br>

    <label> Destination </label>
    <input type="text" name="log[destination]"> </br>

    <label> Number of Landings </label>
    <input type="number" name="log[landings]"> </br>

    <label> Remarks </label>
    <input type="text" name="log[remarks]"> </br>

    <input type="submit" value="Create">
  </form>
</center>