<div align="right">
  <a href="/logout"><input type="submit" value="Logout"></a>
</div>

<div>
  <center>
    <h1>Welcome to Sinatra Pilot Logbook!</h1>
    
    <h3>Keep track of your flying progress with this simple tool</h3>
    <div>
      <h4>
        Please <a href='/signup'>Sign Up</a> or <a href='/login'>Log In</a> to access your logs.
       </h4>
    </div>

  </center>
</div>