<div>
  <center>
    <h1>Welcome to Sinatra Pilot Logbook!</h1>
    
    <h3>Keep track of your flying progress with this simple tool</h3>
    <div>
      <h3>
        Please <a href='/signup'>Sign Up</a> or <a href='/login'>Log In</a>
           to continue.
       </h3>
    </div>

  </center>
</div>
