<div align="right">
  <a href="/"><input type="submit" value="Home"></a>
</div>

<div>
  <center>
    <h1> 404 </h1>
    <h3> The page you requested was not found. Please try again </h3>
  </center>
</div>